
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.hide-scrollbar::-webkit-scrollbar {
  display: none;  
}

main::-webkit-scrollbar {
display: none;
}

.overflow {
  overflow: hidden;
}

.background {
background-color: rgb(36, 17, 0);
}

html {
background-color: rgb(36, 17, 0);
}

body {
height: 95vh;
overflow: hidden;
overflow-y: hidden;
padding: 0rem;
background-color: rgb(36, 17, 0);
}

.text-footer {
font-size: 1.5rem;
color: rgb(87, 68, 50);
}

header {
border-bottom: solid 2px  rgb(92, 68, 16);
background-color: rgb(36, 17, 0);
}

main {
background: url(https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-4.0.3);
background-size: cover;
padding-bottom: 10px;
}

footer {
border-top: solid 2px  rgb(95, 168, 107);
background-color: rgb(36, 17, 0); 
color: rgb(238, 184, 134);
z-index: 1;
}

.high-layer {
z-index: 7;
}

.redimensionado {
transform: scale(0.90);
}

.redimensionado2 {
  transform: scale(0.8);
  }

.overflow-main {
overflow-y: scroll;
}

.logoCategorias {
transform: scale(0.7) translateY(-40%);
}

.logoCategorias2 {
  transform: scale(0.7) translateY(-20%) translateX(0%);
  }

.title {
font-size: 3rem;
transform: translateX(3%);
color: rgb(238, 184, 134);
}

.title2 {
  font-size: 2rem;
  transform: translateX(3%);
  color: rgb(238, 184, 134);
  }

.subcat {
font-size: 1rem;
color: rgb(238, 184, 134);
}

.subtitle {
font-size: 1rem;
color: rgb(238, 184, 134);
margin-bottom: 1rem;
transform: translateX(-14%);
}

.subtitle-desktop {
  font-size: 1.2rem;
  color: rgb(238, 184, 134);
  margin-bottom: 1rem;
  transform: translateX(-41%)
  ;
  }

.logo-setup {
transform: scaleY(1.5) scaleX(3.8) translateY(-35%) translateX(35%);
filter:     drop-shadow(2px 2px 0 rgb(252, 142, 16)) 
            drop-shadow(-2px 2px 0 rgb(255, 230, 202)) 
            drop-shadow(2px -2px 0 rgb(255, 217, 0)) 
            drop-shadow(0px 0px 30px rgb(255, 102, 0));
}

.nav-setup {
  transform: translateY(-480%);
}

.nav-setup2 {
  transform: translateY(-700%);
}

nav li {
color: rgb(238, 184, 134);
list-style: none;
margin-left: 1rem;
}

.nav-button {  
color: rgb(238, 184, 134);
list-style: none;
margin-left: 1rem;
background-color: transparent;
}

.destacados {
transform: translateY(-80%);
}

.destacados2 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
top: 600px;
}

.reubicado {
transform: translateY(-220%);
}

.destacados2 h1 {
text-align: center;
}

.destacados-text {
padding-top: 2rem;
}

.circular {
border-radius: 50%;
border: solid 2px silver;
box-shadow: 0px 0px 30px 2px silver;
background-color: black;
width: 100px;
height: 100px;
}

.circular:hover {
transform: scaleX(1.05) scaleY(1.05);
transition: 0.4s;
box-shadow: 0px 0px 30px 2px greenyellow;
}

.ampliado {
  transform: scale(1.3);
  margin-top: 5rem;
}

.overlay {
  backdrop-filter: blur(15px); 
  background-color: rgba(255, 255, 255, 0.4); 
  color: black;
  width: 25vw;
}

.categorias {
  background-color: rgb(53, 30, 0);
}

.footer-img {
overflow: hidden;
transform: scale(2) translateY(-35%);
z-index: 5;
filter: invert(2) drop-shadow(2px 2px 0 rgb(251, 255, 0)) 
            drop-shadow(-2px 2px 0 rgb(177, 17, 17)) 
            drop-shadow(-2px -2px 0 rgb(255, 102, 0))
            drop-shadow(-2px -2px 0 rgb(255, 255, 255));
}

.inverse-footer-img {  
transform:scaleX(-0.8) scale(1.6) translateY(-43%) translateX(-20%);
z-index: 5;
filter: invert(2) drop-shadow(2px 2px 0 rgb(251, 255, 0)) 
                  drop-shadow(-2px 2px 0 rgb(177, 17, 17)) 
                  drop-shadow(-2px -2px 0 rgb(255, 102, 0))
                  drop-shadow(-2px -2px 0 rgb(255, 255, 255))
                  drop-shadow(0px 0px 10px rgb(78, 180, 248))
                  drop-shadow(0px 0px 10px rgb(235, 160, 125))
                  drop-shadow(0px 0px 10px rgb(218, 85, 9));
}



.phrase-container {
position: relative;
}

.phrase {
position: absolute;
width: 100%;
transition: opacity 1s ease-in-out;
opacity: 0;
}

.phrase-translate {
transform: translateX(-15%)
}

.inverse-phrase-translate {
transform: translateX(15%);
}

.fade-in {
  opacity: 1;
}

.iframe {
transform: scale(0.7);
border: solid 1px rgb(71, 43, 17);
}

.centrada {
transform: translateX(40%);
}

.destacados-title {
font-size: 2rem;
color: rgb(238, 184, 134);
}

.destacados-title2 {
  font-size: 2rem;
  color: rgb(238, 184, 134);
  text-align: center;
  }

.destacados-subtitle {
font-size: 2rem;
color: rgb(238, 184, 134);
}

.destacados-p {
font-size: 1rem;
color: rgb(221, 125, 69);
}

.calendario {
position: absolute;
right: 50px;
top: 10px;
transform: scale(0.7);
filter: drop-shadow( 0px 0px 2px rgb(0, 90, 173))  
        drop-shadow( 0px 0px 2px rgb(35, 124, 207))
        drop-shadow( 0px 0px 2px rgb(136, 185, 231))
        drop-shadow( 0px 0px 2px rgb(249, 251, 253))
        drop-shadow( 0px 0px 2px rgb(99, 54, 156))
        drop-shadow( 0px 0px 2px rgb(198, 116, 236))                    
}

.meses-container {
background: url(https://e0.pxfuel.com/wallpapers/616/499/desktop-wallpaper-micropoetry-dawn-17-in-the-wake-of-the-night-the-morning-rises-as-a-flower-pushing-the-shadows-aside-blossoms-art-art-cherry-blossom-art-japanese-drawing.jpg);
background-size: cover;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 5%;
width: 100%;
height: 100%;
}

.meses {
align-items: flex-start;
height: 250px;
overflow-y: scroll;
scroll-behavior:auto;
font-family: Arial, Helvetica, sans-serif;
}

.meses-title {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 3rem;
color: #87421F;
text-shadow: rgb(184, 156, 32) 0px 3px;
margin-bottom: 2rem;
transform: translateY(0%) scale(1.3);
}

.meses::-webkit-scrollbar {
display: none;
}

.mes {
padding-left: 10px;
width: 300px;
text-align: start;
font-family: Arial, Helvetica, sans-serif;
font-size: 2rem;
color: #87421F;
}

.mes:hover {
transform: scale(1.055);
color: rgb(228, 101, 62);
transition: 0.4s;
}

.boton-calendario {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 50%;
padding: 10%;
width: 50px;
height: 50px;
border: solid 2px rgb(0, 162, 255);
background-color: #000658;
color: rgb(136, 190, 236);
transform: scale(1.015);
}

.boton-calendario:hover {
transform: scale(1);
transition: 0.4s;
background-color: #2f3699;
}

.calendario-footer {
transform: translateX(-7%) translateY(340%);
color: #87421F;
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
}

.proximosEventos {
position: absolute;
top: 300px;
right: 20px;
align-items: center;
justify-content: center;
grid-template-columns: 1fr;
padding: 0.5%;
width: 10vw;
height: 60vh;
border-radius: 2%;
border: solid 3px rgb(112, 249, 253);
box-shadow: 0px 0px 2px rgb(143, 16, 2);      
overflow-y: scroll;
background: url(https://st4.depositphotos.com/3765057/31601/i/450/depositphotos_316017572-stock-illustration-beautiful-watercolor-seamless-pattern-with.jpg);
}

.proximosEventos::-webkit-scrollbar {
display: none
}

.proximosEventos h2 {
font-family: Arial, Helvetica, sans-serif;
color: rgb(46, 56, 201);
font-size: 1.5rem;
text-align: start;
border: solid 2px rgb(114, 150, 250);
background-color: aliceblue;
}

.cat-mobile {
position: relative;
overflow: hidden;
display: grid;
grid-template-rows: 1fr 1fr;
align-items: center;
justify-content: center;
width: 100vw;
height: 15vh;
margin-bottom: 5rem;
overflow-x: auto;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
background-color: transparent;
bottom: 30px;
}

.cat-mobile {
  margin-top: 2rem;
  padding-top: 2rem;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
}

.cat-ul {
  list-style: none;
  padding: 0;
  display: flex;
  scrollbar-width: thin; 
  scrollbar-color: rgb(202, 20, 20) silver; 
}

.cat-ul-container {
  position: relative;
}

.cat-ul {
  scrollbar-width: thin;
  scrollbar-color: rgb(218, 32, 32); 
  scroll-margin-block-start: 15px;
}

.cat-ul::-webkit-scrollbar {
  width: 8px;
}

.cat-ul::-webkit-scrollbar-thumb {
  background-color: goldenrod; /* Webkit (Chrome, Safari) */
  border-radius: 4px;
}

.cat-ul::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track color to transparent */
}

.cat-ul::-webkit-scrollbar-corner {
  background-color: transparent; /* Hide the corner for a cleaner look */
}

.cat-children {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 80px;
}

.cat-children p {
text-align: center;
}

.circular-cat {
border-radius: 50%;
border: solid 1px goldenrod;
box-shadow: 0px 0px 10px 2px silver;
transform: scale(1.5);
width: 50px;
height: 50px;
}

.proximos-eventos-ul {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
height: 100%;
transform: scale(0.95);
}

.rsize {
transform: scale(0.85);
}

.proximos-eventos-ul li {
display: flex;
flex-direction: column;
list-style-type: none;
justify-content: flex-start;
margin-bottom: 5px;
border-radius: 5%;
background-color: #000658;
border: solid 2px rgb(114, 150, 250);
}

.proximos-eventos-ul li h2 {
font-family: Arial, Helvetica, sans-serif;
text-align: start;
font-size: 1.3rem;
}

.proximos-eventos-ul li h3 {
font-family: Arial, Helvetica, sans-serif;
text-align: start;
font-size: 1.1rem;
color:rgb(127, 188, 241);  
}

.evento-img {
filter: invert(1);
transform: scale(0.5);
}

.inner-eventos-container {
width: 100vw;
height: 100%;
padding: 2%;
overflow-y: scroll;
}

.inner-eventos-tit {
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5rem;
background-color: rgba(0, 0, 0, 0.4);
color: rgb(176, 200, 252);
text-align: center;
border-radius: 70%;
width: 190px;
}

.inner-proximos-eventos-ul {
grid-template-columns: repeat(4, 1fr);
flex-direction: column;
gap: 5px;
align-items: flex-start;
justify-content: flex-start;
height: 100%;
width: 40vw;
}

.inner-proximos-eventos-ul-mobile {
grid-template-columns: repeat(2, 1fr);
gap: 5px;
align-items: flex-start;
justify-content: flex-start;
height: 100%;
width: 100%;
}


.maxw {
padding: 10px;
width: 14vw;
background-color: #000658;
border-radius: 5%;
border: solid 2px rgb(91, 152, 231);
}

.maxw-mobile {
padding: 10px;
width: 100%;
height: 20vh !;
background-color: #000658;
border-radius: 5%;
border: solid 2px rgb(91, 152, 231);
}

.maxh2-mobile {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
background-color: aliceblue;
color: rgb(46, 56, 201);
margin-top: 5px;
border: solid 2px rgb(114, 150, 250);
}

.maxh2 {
background-color: aliceblue;
color: rgb(46, 56, 201);
margin-top: 5px;
border: solid 2px rgb(114, 150, 250);
}

.maxh3 {
margin-top: 7px;
color: rgb(127, 188, 241);
}

.maxp {
overflow-y: scroll;
max-height: 100px;
min-height: 100px;
}

.maxp::-webkit-scrollbar {
display: none;
}

.enero-bg {
background: url(https://i.redd.it/everlasting-summer-morning-1920x1080-v0-dln4j0cjmp5a1.jpg?width=1920&format=pjpg&auto=webp&s=bc6bdb3bf6b8bc5cd5b8d0425c205bd543504cdf); 
}

.eventos-mensuales-container h2 {
position: relative;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5rem;
background-color: rgba(0, 0, 0, 0.4);
color: rgb(176, 200, 252);
text-align: center;
border-radius: 70%;
width: 190px;
}

.eventos-form {
grid-template-rows: repeat(4, 1fr);
grid-template-columns: repeat(3, 1fr);
width: 60vw;
gap: 5px;
}

.eventos-form-mobile {
grid-template-columns: repeat(1, 1fr);
width: 60vw;
}

.eventos-form label, input {
color: white;
margin: 1rem;
}

.eventos-form button, .eventos-form-mobile button {
color: rgb(176, 200, 252);
border-radius: 3%;
padding: 1rem;
font-size: 2rem;
background-color: #000658;
transform: scale(0.6);
border: solid 2px rgb(176, 200, 252);
}

.eventos-form button:hover {
transform: scale(0.59);
transition: 0.3s;
background-color: #213c96;
}

.eventos-form-mobile button {
color: rgb(176, 200, 252);
border-radius: 3%;
padding: 1rem;
font-size: 2rem;
background-color: #000658;
transform: scale(0.6) translateX(-18%);
border: solid 2px rgb(176, 200, 252);
}

.viewButton {
border: solid 2px rgb(176, 200, 252)
}

.eventos-form-mobile button:hover {
transform: scale(0.59) translateX(-18%);
transition: 0.3s;
background-color: #213c96;
}

.input-format {
display: flex;
justify-content: space-between;
backdrop-filter: blur(15px); 
background-color: rgba(255, 255, 255, 0.4);
border: solid 2px rgb(91, 152, 231);
border-radius: 4%;
}

.eventos-form-mobile .input-format {
display: flex;
justify-content: space-between;
backdrop-filter: blur(15px); 
background-color: rgba(255, 255, 255, 0.4);
border: solid 2px rgb(91, 152, 231);
border-radius: 4%;
transform: scale(0.7) translateX(-15%);
}

.input-format label {
color: rgb(11, 5, 95);
font-size: 1.2rem;
margin: 2rem;
font-weight: 900;
text-shadow: rgb(149, 198, 238) -1px 1px;
}

.input-format input {
margin: 2rem;
padding: 5px;
border: solid 1px black;
color: black;
}

.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.5);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transform: scale(1);
z-index: 7;
}

.modal2-overlay {
position: fixed;
top: 0;
left: 0;
width: 2000px;
height: 2000px;
background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
transform: scale(2);
z-index: 7;
transform: translatey(0%);
}

.modal2-overlay::-webkit-scrollbar {
display: none;
}

.modal-content {
background: #fff;
padding: 20px;
border-radius: 8%;
max-width: 600px;
width: 100%;
height: 100%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
display: none;
}

.modal2-content {
background: #fff;
padding: 20px;
border-radius: 8px;
max-width: 600px;
width: 100%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
overflow-y: scroll;
transform: translateY(-100%);
}

.modal2-content::-webkit-scrollbar {
display: none;
}

.close-button {
position: absolute;
right: 48%;
background-color: #b9b9b9;
color: #494949;
border: none;
width: 50px;
height: 50px;
box-shadow: 0px 0px 10px 2px rgb(158, 158, 158);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 5px 10px;
cursor: pointer;
border-radius: 50%;
padding: 5px;
border: groove 2px gray;
}

.close-button:hover {
transform: scale(0.95);
transition: 0.3s;
background-color: #cfd1e2;
}


.botton-vista {
border-radius: 100px;
}

.calendario-interactivo-container {
background: url(https://www.terrepermaculture.com/wp-content/uploads/2014/05/maxresdefault.jpg);
background-size: cover;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 5%;
}

.calendario-interactivo {
background-color: #cfd1e2;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 15px;
background-color: transparent;
border-radius: 5%;
padding: 1%;
}

.calendario-interactivo2 {
position:absolute;
top: 100px;
left: -90px;
background-color: #cfd1e2;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
gap: 15px;
background-color: transparent;
border-radius: 5%;
padding: 1%;
transform: scale(0.6);
}

.calendario-interactivo-titulo {
font-size: 2rem;
color: rgb(238, 181, 134);
margin-bottom: 1rem;
background-color: rgba(14, 1, 87, 0.3);
border-radius: 50%;
padding: 0.8%;
}

.calendario-interactivo::-webkit-scrollbar {
display: none;
}

.mes-interactivo {
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
justify-content: flex-start;
background-color: rgb(121, 121, 87);
padding: 3%;
min-width: 20vh;
border-radius: 15%;
box-shadow: 0px 0px 5px 3px rgb(226, 226, 203);
}

.mes-interactivo h2 {
font-size: 1.5rem;
text-align: start;
color: rgb(238, 181, 134);
}

.mes-interactivo button {
filter:grayscale(1);
}

.mes-interactivo button:hover {
transform: scale(0.95);
transition: 0.4s;
filter: invert(0);
}

.calendario-tit {
font-size: 2rem;
color: rgb(238, 184, 134);
transform: translateY(-120%);
}

.calendario-tit:hover {
color: aquamarine;
transition: 0.4s;
text-shadow: 0px 0px 0px 0px beige;
transform: translateY(-120%) scale(1.5);
}

.newHeader {
position: relative;
top:0;
left:0;
z-index: 7;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
height: 10vh;
width: 100%;
background-color: #221800;
border-bottom: solid 2px #87421F;
}

.newLogo {
margin-left: 2rem;
position: relative;
align-items: flex-start;
justify-content: flex-start;
grid-column-start: 1;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 4;
transform: scale(0.9);
}

.newLogo h1 {
position: absolute;
top: 0px;
left: 20px;
font-size: 2.5rem;
font-family: 'Cinzel', serif;
}

.newLogo nav li:hover {
color: white;
transition: 0.3s;
font-size: 1.1rem;
}

.newLogo nav {
position: absolute;
display: flex;
width: 100vh;
top: 60px;
margin-bottom: 15px;
}

.nLogoImg {
position:relative;
filter: invert(1);
}
